NEXT_PUBLIC_SITE_URL=http://localhost:3000
DATABASE_PATH=./data/navidad-2026.db
STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
RESEND_API_KEY=re_replace_me
RESEND_FROM="Rubiel Photo Art <reservas@rubielphoto.com>"
RESEND_TO=contacto@rubielphoto.com
MOCK_PAYMENTS=true
